canvas {
    border: solid 1px;
    float: left;
}

#canvas1 {
    background: url("1.jpg");
}

#canvas2 {
    background: url("2.jpg");
}

div:not(#d) {
    border: solid 1px;
}

#tower1, #tower2, #player {
    margin : 0 0 10px 20px;
    padding : 10px;
    display: inline-block;
    width: 150px;
}

#tower1 {
    background-color: lime;
}

#tower2 {
    background-color: green;
}

#player {
    background-color: gold;
}
